# Week 3: Segmenting and Clustering Neighborhoods in Toronto

## Part 2.

### 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### 2. Import the dataframe from Part 1

In [2]:
df = pd.read_csv("Toronto_df.csv",index_col=[0])
df.head()

                 Borough                            Neighborhood
Postal Code
M1B          Scarborough                          Malvern, Rouge
M1C          Scarborough  Rouge Hill, Port Union, Highland Creek
M1E          Scarborough       Guildwood, Morningside, West Hill
M1G          Scarborough                                  Woburn
M1H          Scarborough                               Cedarbrae

### 3. Retrieve csv file with geospatial coordinates (through link)

In [4]:
coord_data = pd.read_csv("https://cocl.us/Geospatial_data")
coord_data.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

### 4. Merge data frame tables

In [5]:
toronto_df = df.merge(coord_data, on = "Postal Code", how = "left")
toronto_df.head()

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

### 5. Recreate the dataframe initially provided

In [6]:
original_df = pd.DataFrame(columns = ["Postal Code", "Borough", "Neighborhood", "Latitude", "Longitude"])

PC = ["M5G", "M2H", "M4B", "M1J", "M4G", "M4M", "M1R", "M9V", "M9L", "M5V", "M1B", "M5A"]

for i in PC:
    original_df = original_df.append(toronto_df[toronto_df["Postal Code"] == i])
    
original_df.head()

,Postal Code,Borough,Neighborhood,Latitude,Longitude
57,M5G,Downtown Toronto,Central Bay Street,43.657952,-79.387383
17,M2H,North York,Hillcrest Village,43.803762,-79.363452
35,M4B,East York,"Parkview Hill, Woodbine Gardens",43.706397,-79.309937
5,M1J,Scarborough,Scarborough Village,43.744734,-79.239476
38,M4G,East York,Leaside,43.709060,-79.363452

### 6. Export dataframe (to be used in Part 3)

In [8]:
toronto_df.to_csv("Coordinates_Toronto_df.csv", index = False, header = True)